<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Baby Foot Manager</title>
    <link type="text/css" href="/public/css/style.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="div-party"><%- include("party") -%></div>
      <div class="handle"></div>
      <div class="div-chat"><%- include("chat") -%></div>
    </div>
  </body>
</html>