<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Baby Foot Manager</title>
  </head>
  <body>
    <div class="container-party">
      <div class="add-party">
        <form action="/create" method="POST">
          <input placeholder="Nouvelle partie ..." type="text" name="party" id="party"><%=data.party%></input>
          <button class="btn-add-party" type="submit">Ajouter</button>
        </form>
      </div>
      <div class="list-party">
        <fieldset class="box-party">
          <legend>Les parties</legend>
          <legend class="legend-right">3</legend>
            <table>
              <% for(var i = 0; i < data.length; i++){ %>
                <tr>
                  <form method="POST" class="icon-form">
                    <td>
                      <input type="checkbox" name="checkbox" class="done" formaction="/done/<%= data[i].id %>">
                      <label for="done" class="text"><%= data[i].party%></label>
                    </td>
                    <td>
                      <button class="option-party" formaction="/delete/<%= data[i].id %>" type="submit">
                        <span class="material-icons-outlined" style="color: red;">close</span>
                      </button>
                    </td>
                  </form>
                </tr>
              <% } %>
          </table>
        </fieldset>
      </div>
    </div>
  </body>
</html>